.button {
    background-color: #e7e7e7; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
 .button:hover {
        background: #3e4b5c;
    }
    button:active {
        position: relative;
        top: 1px;
    }
    